$text-color: #393939;

.contact-details {

    ul {
        @include vertical-list;
        gap: 5px;
    }

    .contact-details-text {
        align-items: center;
        display: flex;
        gap: 6px;
    }

    .city,
    .address,
    .mail,
    .phone {
        color: $text-color;
    }

    .city {
        &::before {
            content: url('../../resources/icons/my_location.svg');
        }
    }
    .address {
        &::before {
            content: url('../../resources/icons/my_location.svg');
        }
    }
    .phone {
        &::before {
            content: url('../../resources/icons/call.svg');
        }
    }
    .mail {
        margin-top: 5px;
    
        &::before {
            content: url('../../resources/icons/contact_mail.svg');
        }
    }
}