$text-color: #393939;

.contact-details {

    ul {
        @include vertical-list;
        gap: 5px;
    }

    .contact-details-text {
        align-items: center;
        display: flex;
        gap: 6px;
    }

    .city,
    .address,
    .mail,
    .phone {
        color: $text-color;
    }

    .city {
        &::before {
            content: url('../../resources/icons/my_location.svg');
        }
    }
    .address {
        &::before {
            content: url('../../resources/icons/my_location.svg');
        }
    }
    .phone {
        &::before {
            content: url('../../resources/icons/call.svg');
        }
    }
    .mail {
        align-items: center;
        background-color: #77c7bf;
        border: 1px solid;
        border-radius: 6px;
        color: black;
        display: flex;
        cursor: pointer;
        font-size: 14px;
        gap: 8px;
        justify-content: center;
        margin-top: 5px;
        outline: 0;
        padding: 5px 16px;
        vertical-align: middle;
       
       
        
        border-color: #1b1f2326;
        box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
        transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
        transition-property: color, background-color, border-color;

            &:hover {
                cursor: pointer;
                background-color: lighten($color: #009688, $amount: 5%);
                border-color: #1b1f2326;
                transition-duration: 0.1s;
            }
    
        &::before {
            content: url('../../resources/icons/contact_mail.svg');
        }
    }
}